body {
    font-size: 16px; 
    box-sizing: border-box;  
}

/* Index */

div.jumbotron {
    /* background: #fdae1d; */
    background: url(./../img/hotel.jpg) no-repeat fixed center top;
    background-size: cover;
    opacity: .8;
    color: #fff;
    font-size: 24px;
    text-align: left;
    margin-top: 50px;
    padding: 50px;
    height: 400px;
}

    .jumbotron h1 {
        margin-top: 100px;
        font-weight: 800;
        font-size: 48px;
    }

ol.breadcrumb {
    font-size: 14px;
    color: #666;
    border-radius: 0;
}

    ol.breadcrumb li.active {
        color: #555;
    }

    ol.breadcrumb a {
        text-decoration: none;
        color: #888;
    }
        
        ol.breadcrumb a:hover {
            color: #222;
        }

div.card {
    border: 1px solid #1cc;
    border-radius: 0;
    flex: 2 200px;
}

div.card:hover {
    box-shadow: 3px 5px 15px 5px #eee;
}

    .card img {
        border-radius: 0;
        width: 100%;
    }

    .card-subtitle {
        padding: 5px 0;
    }

    a.btn {
        background: #4dd;
        border-radius: 0;
        margin: 0 0 15px 15px;
        width: 50%;
    }

        a.btn:hover {
            background: #1bb;
        }

footer {
    background: #282828;
    color: #aaa;
    margin: 0;
    padding: 20px 40px 0 40px;
}

    .social-icon, .address-icon {
        padding-right: 10px;
    }

    footer a.link {
        text-decoration: none;
        color: #aaa;
        margin-bottom: 5px;
    }

        footer a.link:hover, .social-icon:hover {
            color: #fff;
        }

    address {
        font-size: 14px;
    }

    span.emoji {
        color: #DD2E44;
    }

/* Contact */
form .btn {
    background: #fff;
    color: #1cc;
    border: 1px solid #1cc;
    border-radius: 0;
    width: 100%;
}

    form .btn:hover {
        background: #1cc;
        color: #222;
    }

/* Precios */
.thead {
    background: #1cc;
    color: #222;
}

    .thead th {
       font-weight: 600; 
    }

    .fa-star {
        color: #fdae1d;
    }

.card-payment {
    width: 50%;
    margin: auto;
    padding: 50px 0;
    border-radius: 0;
}

.card-payment .card:hover {
    box-shadow: none;
}
    
    .card-payment .card {
        border-radius: 0;
    }

    .icon-payment {
        color: #1bb;
        margin-right: 10px;
    }

    .card-payment .card-title {
        font-weight: 600;
        padding: 5px;
        margin: 0;
    }

